<!DOCTYPE html>
<html>
  <head>
    <title>First</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <p>Hello</p>
      <li><%= link_to 'LOGOUT', destroy_user_session_path, :method => :delete %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
